
<nav class="header row auto-hide-header page-transition">
    <div class="header-inner">
        <div class="logo col-xs-10 col-md-2">
            <a href="/">
                <img src="images/logo.png" alt="logo2">
            </a>
        </div>
        <div class="col-xs-2 col-md-10 visible-xs"><a href ="#" class="nav-trigger"><span><em aria-hidden="true"></em>Menu</span></a></div>
        <!-- Menu -->
        <div class="menu col-sm-8 col-md-10" id="menu">
            <ul>
                <li><a href="/about">About Me</a>
                </li>
                <li><a href="#">Projects</a>
                    <ul class="sub-menu">
                        <li><a href="works-col-2.html">Spring-boot</a></li>
                        <li><a href="works-col-3.html">NodeJS</a></li>
                        <li><a href="works-col-4.html">PHP</a></li>
                        <li><a href="works-col-4.html">Android</a></li>
                        <li><a href="works-col-4.html">Arduino</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </div>
        <!-- Menu -->
    </div>
</nav>

