<div class="w-img-content col-sm-12 col-lg-6">
    <img th:src="'images/ui/' + ${project.fw} + '/' + ${project.id} + '/image01.jpg'" alt="image description" style="margin-bottom:100px; cursor:pointer;"
         th:onclick="newWindowImage([['images/ui/' + ${project.fw} + '/' + ${project.id} + '/image01.jpg']])">

    <img th:src="'images/ui/' + ${project.fw} + '/' + ${project.id} + '/image02.jpg'" alt="image description" style="margin-bottom:100px; cursor:pointer;"
         th:onclick="newWindowImage([['images/ui/' + ${project.fw} + '/' + ${project.id} + '/image02.jpg']])">

    <img th:src="'images/ui/' + ${project.fw} + '/' + ${project.id} + '/image03.jpg'" alt="image description" style="margin-bottom:100px; cursor:pointer;"
         th:onclick="newWindowImage([['images/ui/' + ${project.fw} + '/' + ${project.id} + '/image03.jpg']])">

    <img th:src="'images/ui/' + ${project.fw} + '/' + ${project.id} + '/image04.jpg'" alt="image description" style="margin-bottom:100px; cursor:pointer;"
         th:onclick="newWindowImage([['images/ui/' + ${project.fw} + '/' + ${project.id} + '/image04.jpg']])">

    <img th:src="'images/ui/' + ${project.fw} + '/' + ${project.id} + '/image05.jpg'" alt="image description" style="margin-bottom:100px; cursor:pointer;"
         th:onclick="newWindowImage([['images/ui/' + ${project.fw} + '/' + ${project.id} + '/image05.jpg']])">
</div>