<div class="project-details">
    <div class="col-md-12"><hr></div>
    <div class="copy-cell col-md-2 col-sm-2 col-xs-12">
        <span>Upload Date</span>
        <span th:text="${project.date}"></span>
    </div>
    <div class="copy-cell col-md-4 col-sm-4 col-xs-12">
        <span>Tags</span>
        <span th:text="${project.tag}"></span>
    </div>
    <div class="copy-cell col-md-3 col-sm-3 col-xs-12">
        <span>Team</span>
        <span th:text="${project.team}">themeforest</span>
    </div>
    <div class="copy-cell col-md-3 col-sm-3 col-xs-12">
        <span>Share on</span>
        <ul class="share">
            <li><a href="#"><i class="fa fa-facebook" style="color: #3b5998;"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" style="color: #55acee;"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" style="color: #ea4c89;"></i></a></li>
            <li><a href="#"><i class="fa fa-behance" style="color: #1769FF;"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" style="color: #bd081c;"></i></a></li>
        </ul>
    </div>
</div>