<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="widget/head :: head"></head>
<body>

<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <nav th:replace="widget/header"></nav>

    <!-- Container -->
    <main class="container">

        <!-- Header -->
        <div class="heading">
            <h2 class="head-text">
                <span th:text="${project.title}"></span>
                <span th:text="${project.fw} + ' Framework'"></span>
            </h2>
            <ul class="breadcrumb page-transition">
                <li><a href="/">home</a></li>
                <li><a href="/projects?fw=spring-boot" th:text="${project.fw}"></a></li>
                <li class="current-crumb"><a href="#" th:text="${project.title}"></a></li>
            </ul>
        </div>
        <!-- /Header -->
        <!-- Proect page -->
        <div class="work">
            <div class="line"></div>
            <div class="row">
                <div class="content-box">
                    <div class="project-content">
                        <div class="w-img-content col-sm-12 col-lg-7">
                            <img src="images/ui/php/0/image01.jpg" alt="image description" style="margin-bottom:100px;">
                            <img src="images/ui/php/0/image02.jpg" alt="image description" style="margin-bottom:100px;">
                            <img src="images/ui/php/0/image03.jpg" alt="image description" style="margin-bottom:100px;">
                        </div>
                        <div class="project-info col-sm-12 col-lg-5" id="sticky">
                            <h2>프로젝트 개요</h2>
                            <p style="margin-bottom:10px;">
                                Lead paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>

                            <h2 style="margin-top:50px;">주요 개발목표</h2>

                            <p style="margin-bottom:10px;"><i class="fa fa-map-marker" aria-hidden="true"> 57 Mainstreet, MainTower, Barcelona</i></p>
                            <p style="margin-bottom:10px;"><i class="fa fa-map-marker" aria-hidden="true"> 57 Mainstreet, MainTower, Barcelona</i></p>
                            <p style="margin-bottom:10px;"><i class="fa fa-map-marker" aria-hidden="true"> 57 Mainstreet, MainTower, Barcelona</i></p>


                            <h2 style="margin-top:50px;">프로젝트 담당분야</h2>
                            <div class="about-skills">
                                <div class="skills">
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">JavaScript</p>
                                        <div class="skill-bar" data-bar="90"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">Consulting</p>
                                        <div class="skill-bar" data-bar="70"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">Branding</p>
                                        <div class="skill-bar" data-bar="60"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">Graphic Design</p>
                                        <div class="skill-bar" data-bar="80"><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details">
                        <div class="col-md-12"><hr></div>
                        <div class="copy-cell col-md-2 col-sm-2 col-xs-12">
                            <span>Date</span>
                            <span>August, 2016</span>
                        </div>
                        <div class="copy-cell col-md-4 col-sm-4 col-xs-12">
                            <span>Services</span>
                            <span>Design, Illustration, Animation, Development</span>
                        </div>
                        <div class="copy-cell col-md-3 col-sm-3 col-xs-12">
                            <span>Client</span>
                            <span>themeforest</span>
                        </div>
                        <div class="copy-cell col-md-3 col-sm-3 col-xs-12">
                            <span>Share on</span>
                            <ul class="share">
                                <li><a href="#"><i class="fa fa-facebook" style="color: #3b5998;"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" style="color: #55acee;"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" style="color: #ea4c89;"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" style="color: #1769FF;"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" style="color: #bd081c;"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- pager-->
                <div class="pager col-md-12 page-transition">
                    <a href="project-video-2.html" class="button prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a href="works-col-3.html" class="button all">
                        <i class="fa fa-th"></i>
                    </a>
                    <a href="project-slider.html" class="button next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                    <div class="arrow-texts">
                        <p class="prev-text">previouse: project video 2</p>
                        <p class="all-text">see all works</p>
                        <p class="next-text">next: project slider</p>
                    </div>
                </div>
                <!-- /pager-->
            </div>
        </div>
        <!-- /Proect page -->

    </main>
    <!-- /Container -->

    <!-- Footer -->
    <footer id="footer">
        <div class="row">
            <p class="col-xs-12 col-sm-6 col-md-6">Copyright © 2016 All Rights Reserved.</p>
            <ul class="follow col-xs-6 col-sm-6 col-md-6 hidden-xs">
                <li><p>Follow Us</p></li>
                <li><span></span></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- /Footer -->
</div>
<!-- /Wrapper -->

<!-- JS -->
<!-- jquery-2.1.3.min js -->
<script type="text/javascript" src='js/jquery-2.1.3.min.js'></script>

<!-- Plugins -->
<script type="text/javascript" src='js/libs.js'></script>

<!-- Main js -->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>