<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="widget/head :: head"></head>
<body>

<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <nav th:replace="widget/header"></nav>

    <!-- Container -->
    <main class="container">

        <!-- Header -->
        <div class="heading">
            <h2 class="head-text">
                <span th:text="${project.title}"></span>
                <span th:text="${project.fw} + ' Framework'"></span>
            </h2>
            <ul class="breadcrumb page-transition">
                <li><a href="/">home</a></li>
                <li><a href="/projects?fw=spring-boot" th:text="${project.fw}"></a></li>
                <li class="current-crumb"><a href="#" th:text="${project.title}"></a></li>
            </ul>
        </div>
        <!-- /Header -->
        <!-- Proect page -->
        <div class="work">
            <div class="line"></div>
            <div class="row">
                <div class="content-box">
                    <div class="project-content">
                        <div th:replace="widget/project_image"></div>
                        <div class="project-info col-sm-12 col-lg-6" id="sticky" style="padding-bottom:100px;">
                            <h2>프로젝트 개요</h2>
                            <p style="margin-bottom:10px;">
                                DGIST 대학원의 미래자동차연구부 모집 홈페이지 제작<br>
                                미래자동차 연구부의 소개를 중심으로, 소속교수, 모집요강, 관련 논문등을 소개하는 홈페이지<br><br>

                                해당 프로젝트는 유료 웹템플릿 소스코드 (HTML, CSS, SCSS, JS)를 구매하고, PHP 코드로 재구현하여 제작되었습니다.
                            </p>

                            <h2 style="margin-top:50px;">주요 개발목표</h2>
                            <p style="margin-bottom:10px;"><i class="fa fa-pencil" style="margin-right:20px;" aria-hidden="true"><span style="margin-left:10px;">MVC 패턴을 기반으로 한 PHP 구조화</span></i></p>
                            <p style="margin-bottom:10px;"><i class="fa fa-pencil" style="margin-right:20px;" aria-hidden="true"><span style="margin-left:10px;">'pdo' 모듈을 활용한 DB접근 제어</span></i></p>
                            <p style="margin-bottom:10px;"><i class="fa fa-pencil" style="margin-right:20px;" aria-hidden="true"><span style="margin-left:10px;">소속직원 신상정보 및 관련 논문 DB화</span></i></p>
                            <p style="margin-bottom:10px;"><i class="fa fa-pencil" style="margin-right:20px;" aria-hidden="true"><span style="margin-left:10px;">대량의 논문, 서적의 조건식 조회를 위한 위한 식별코드, 날짜컬럼 분류</span></i></p>
                            <p style="margin-bottom:10px;"><i class="fa fa-pencil" style="margin-right:20px;" aria-hidden="true"><span style="margin-left:10px;">유지 보수를 위한 관리자페이지 제작</span></i></p>
                            <p style="margin-bottom:10px;"><i class="fa fa fa-pencil" aria-hidden="true"><span style="margin-left:10px;">신상정보에 맞는 논문, 서적 데이터 유지보수를 위한 스키마관계 정립</span></i></p>

                            <h2 style="margin:50px 0px 0px 0px;">Dev part</h2>
                            <div class="about-skills" style="margin:0px 0px 100px 0px;">
                                <div class="skills">
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">JavaScript</p>
                                        <div class="skill-bar" data-bar="100"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">CSS</p>
                                        <div class="skill-bar" data-bar="20"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">HTML</p>
                                        <div class="skill-bar" data-bar="30"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">JQuery</p>
                                        <div class="skill-bar" data-bar="100"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">PHP</p>
                                        <div class="skill-bar" data-bar="100"><span></span></div>
                                    </div>
                                    <div class="skill">
                                        <p style="margin-bottom:10px;">MySQL</p>
                                        <div class="skill-bar" data-bar="100"><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- detail -->
                    <div th:replace="widget/project_footer"></div>
                </div>
                <!-- pager-->
                <div th:replace="widget/project_pager"></div>
            </div>
        </div>
        <!-- /Proect page -->

    </main>
    <!-- /Container -->

    <!-- Footer -->
    <footer id="footer">
        <div class="row">
            <p class="col-xs-12 col-sm-6 col-md-6">Copyright © 2016 All Rights Reserved.</p>
            <ul class="follow col-xs-6 col-sm-6 col-md-6 hidden-xs">
                <li><p>Follow Us</p></li>
                <li><span></span></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- /Footer -->
</div>
<!-- /Wrapper -->

<!-- JS -->
<!-- jquery-2.1.3.min js -->
<script type="text/javascript" src='js/jquery-2.1.3.min.js'></script>

<!-- Plugins -->
<script type="text/javascript" src='js/libs.js'></script>

<!-- Main js -->
<script type="text/javascript" src="js/main.js"></script>
<script>
    // 사진 클릭시 새창이동
    function newWindowImage(url){
      window.open(url, '_black');
    }

</script>
</body>
</html>