<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="widget/head :: head"></head>
<body>

<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <nav th:replace="widget/header"></nav>

    <!-- Container -->
    <main class="container">

        <!-- Heading -->
        <div class="heading">
            <h2 class="head-text">
                <span>about me</span>
                <span>subtitle</span>
            </h2>
            <ul class="breadcrumb page-transition">
                <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">about</a></li>
                <li class="current-crumb"><a href="about-me.html">about me</a></li>
            </ul>
        </div>
        <!-- /Heading -->
        <!-- About Me-->
        <div class="about-me">
            <div class="line"></div>
            <div class="row">
                <div class="content-box">
                    <div class="team-photo col-md-4 col-sm-12">
                        <img src="assets/images/team/worker.png" alt="image description">
                    </div>
                    <div class="team-info col-md-8 col-sm-12">
                        <h2>JOHN SMITH</h2>
                        <span>designer</span>
                        <p>Enthusiastically redefine vertical users vis-a-vis highly efficient mindshare. Efficiently e-enable enabled e-commerce and market positioning potentialities. Seamlessly mesh empowered bandwidth whereas extensive relationships. Dynamically synergize wireless methodologies via worldwide resources. Progressively enhance visionary total linkage via end-to-end e-services. Interactively maximize inexpensive methodologies and interoperable technologies. Monotonectally aggregate extensive partnerships through equity invested catalysts for change. Synergistically fabricate extensible paradigms for high-quality paradigms. Conveniently foster B2B functionalities and innovative supply chains. Enthusiastically repurpose dynamic opportunities via stand-alone results.</p>
                        <ul class="share">
                            <li><a href="#"><i class="fa fa-facebook" style="color: #3b5998;"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" style="color: #55acee;"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" style="color: #ea4c89;"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance" style="color: #1769FF;"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" style="color: #bd081c;"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Pager-->
                <div class="pager col-md-12 page-transition">
                    <a href="about-me.html" class="button prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a href="about-us.html" class="button all">
                        <i class="fa fa-th"></i>
                    </a>
                    <a href="about-me.html" class="button next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                    <div class="arrow-texts">
                        <p class="prev-text">previouse: john doe</p>
                        <p class="all-text">see all team</p>
                        <p class="next-text">next: jonathan doe</p>
                    </div>
                </div>
                <!-- /Pager-->
            </div>
        </div>
        <!-- /About Me-->

    </main>
    <!-- /Container -->

    <!-- Footer -->
    <footer id="footer">
        <div class="row">
            <p class="col-xs-12 col-sm-6 col-md-6">Copyright © 2016 All Rights Reserved.</p>
            <ul class="follow col-xs-6 col-sm-6 col-md-6 hidden-xs">
                <li><p>Follow Us</p></li>
                <li><span></span></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- /Footer -->
</div>
<!-- /Wrapper -->

<!-- JS -->
<!-- jquery-2.1.3.min js -->
<script type="text/javascript" src='assets/js/jquery-2.1.3.min.js'></script>

<!-- Plugins -->
<script type="text/javascript" src='assets/js/libs.js'></script>

<!-- Main js -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>