<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="widget/head :: head"></head>
<body>

<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <nav th:replace="widget/header"></nav>

    <!-- Container -->
    <main class="container">

        <!-- Header -->
        <div class="heading">
            <h2 class="head-text">
                <span>work's</span>
                <span>subtitle</span>
            </h2>
            <ul class="breadcrumb page-transition">
                <li><a href="/">Home</a></li>
                <li><a href="/" >Projects22</a></li>
                <li class="current-crumb" th:each="project : ${#projects}"><a href="#" th:text="${project.title}">aa</a></li>
            </ul>
        </div>
        <!-- /Header -->
        <!--Works-->
        <div class="works">
            <div class="line"></div>
            <div class="works-content page-transition">
                <div id="filters">
                    <button class="btn-filter current" data-filter="*">show all</button>
                    <button class="btn-filter" data-filter=".sort-1">sort #1</button>
                    <button class="btn-filter" data-filter=".sort-2">sort #2</button>
                </div>
                <ul class="grid">
                    <li class="grid-item col-md-6 col-sm-6 col-xs-12 sort-1">
                        <a href="project-video.html">
                            <img src="images/works/thumb/work.png" alt="img-desc">
                            <div class="grid-overlay">
                                <div class="work-text">
                                    <span class="work-cat">Poster</span>
                                    <div class="work-name">
                                        <h3>Lorem Ipsum</h3>
                                        <span class="triangle">
                                                        <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="grid-item col-md-6 col-sm-6 col-xs-12 sort-2">
                        <a href="project-video.html">
                            <img src="images/works/thumb/work.png" alt="img-desc">
                            <div class="grid-overlay">
                                <div class="work-text">
                                    <span class="work-cat">Poster</span>
                                    <div class="work-name">
                                        <h3>Lorem Ipsum</h3>
                                        <span class="triangle">
                                                        <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="grid-item col-md-6 col-sm-6 col-xs-12 sort-1">
                        <a href="project-video.html">
                            <img src="images/works/thumb/work.png" alt="img-desc">
                            <div class="grid-overlay">
                                <div class="work-text">
                                    <span class="work-cat">Poster</span>
                                    <div class="work-name">
                                        <h3>Lorem Ipsum</h3>
                                        <span class="triangle">
                                                        <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="grid-item col-md-6 col-sm-6 col-xs-12 sort-2">
                        <a href="project-video.html">
                            <img src="images/works/thumb/work.png" alt="img-desc">
                            <div class="grid-overlay">
                                <div class="work-text">
                                    <span class="work-cat">Poster</span>
                                    <div class="work-name">
                                        <h3>Lorem Ipsum</h3>
                                        <span class="triangle">
                                                        <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="more">
                    <a href="#" class="button">
                        <i class="fa fa-plus"></i>
                        <span>Load More</span>
                    </a>
                </div>
            </div>
        </div>
        <!--/Works-->

    </main>
    <!-- /Container -->
</div>
<!-- /Wrapper -->

<!-- JS -->
<!-- jquery-2.1.3.min js -->
<script type="text/javascript" src='js/jquery-2.1.3.min.js'></script>

<!-- Plugins -->
<script type="text/javascript" src='js/libs.js'></script>

<!-- Main js -->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>