<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="widget/head :: head"></head>
<body>

<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <nav th:replace="widget/header"></nav>

    <!-- Container -->
    <main class="container">

        <!-- Header -->
        <div class="heading">
            <h2 class="head-text">
                <span>Projects</span>
                <span>subtitle</span>
            </h2>
            <ul class="breadcrumb page-transition">
                <li><a href="/" >Home</a></li>
                <li class="current-crumb"><a href="/" >Projects</a></li>
            </ul>
        </div>
        <!-- /Header -->
        <!--Works-->
        <div class="works">
            <div class="line"></div>
            <div class="works-content page-transition">
                <div id="filters">
                    <button class="btn-filter" th:classappend="${#strings.equals(param.fw, null)} ? 'current'" data-filter="*">All</button>
                    <button class="btn-filter" th:classappend="${#strings.equals(param.fw, 'spring-boot')} ? 'current'" data-filter=".spring-boot">Spring-Boot</button>
                    <button class="btn-filter" th:classappend="${#strings.equals(param.fw, 'nodejs')} ? 'current'" data-filter=".nodejs">NodeJS</button>
                    <button class="btn-filter" th:classappend="${#strings.equals(param.fw, 'php')} ? 'current'" data-filter=".php">PHP</button>
                    <button class="btn-filter" th:classappend="${#strings.equals(param.fw, 'android')} ? 'current'" data-filter=".android">Android</button>
                    <button class="btn-filter" th:classappend="${#strings.equals(param.fw, 'arduino')} ? 'current'" data-filter=".arduino">Arduino</button>
                </div>
                <ul class="grid">
                    <li class="grid-item col-md-6 col-sm-6 col-xs-12" th:classappend="${project.fw}" th:each="project : ${projects}">
                        <a th:href="'/project?fw=' + ${project.fw} + '&id=' + ${project.id}">
                            <img th:src="'/images/ui/' + ${project.fw} + '/' + ${project.id} + '/main.jpg'" alt="img-desc">
<!--                            <a class="grid-sticker">123123</a>-->
                            <div class="grid-overlay">
                                <div class="work-text">
                                    <span class="work-cat" th:text="${#strings.toUpperCase(project.fw)}"></span>
                                    <div class="work-name">
                                        <h3 th:text="${project.title}"></h3>
                                        <span class="triangle">
                                            <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
                <div class="more">
                    <a href="#" class="button">
                        <i class="fa fa-plus"></i>
                        <span>Load More</span>
                    </a>
                </div>
            </div>
        </div>
        <!--/Works-->

    </main>
    <!-- /Container -->

</div>
<!-- /Wrapper -->

<!-- JS -->
<!-- jquery-2.1.3.min js -->
<script type="text/javascript" src='js/jquery-2.1.3.min.js'></script>

<!-- Plugins -->
<script type="text/javascript" src='js/libs.js'></script>

<!-- Main js -->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>